<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <style>
    .form-horizontal{
      display:block;
      width:50%;
      margin:0 auto;
    }
    .font{
      font-family:poppins;
    }
    textarea {
      border: 0px;
      outline: none;
    }
    textarea::-webkit-scrollbar {
      display: none;
    }
  </style>
  <title>Update Data</title>
</head>
<body style="background: #adcbe3;">
<nav style="background: #63ace5;" class="navbar shadow p-3 mb-5">
  <div class="container-fluid">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active text-center">
        <a class="fs-1 font navbar-brand fw-semibold text-light" href="@{application.tampilkan()}"><span>N</span>otes</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <form  class="form-horizontal bg-light ps-2 pb-2 pt-2 rounded-5 shadow" action="@{application.simpan()}" method="post" name="note">
    <div class="col-sm-11">
      <h1><input class="bg-light form-control fs-1" style="border: 0px; outline: none;" type="text" name="note.title" id="note.title" value="${z.title}" placeholder="Judul"></h1>
    </div>
    <div class="col-sm-11">
        <textarea class="bg-light form-control border border-0" name="note.isi" id="note.isi" cols="80" rows="15" placeholder="Isi">${z.isi}</textarea>
    </div>
    <div class="mb-3 form-check">
    </div>
    <input type="hidden" name="note.id" value="${z.id}">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a class="btn btn-danger mb-2" href="@{application.tampilkan()}">Back</a>
      <button class="btn btn-success me-4 mb-2" type="submit">Save</button>
    </div>
  </form>
</div>
</body>
</html>